<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/general.html :: headerfiles">
    <title>Log In</title>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<h1>Log In</h1>
<h2>(or sign up <a href="/signup">here</a>)</h2>
<form action="/login" method="POST">
    <label>Username</label>
    <input type="text" name="username">

    <label>Password</label>
    <input type="password" name="password">

    <input type="submit" value="Log in">
</form>
</body>
</html>