<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/general.html :: headerfiles">
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<h1 th:text="${'User info for user id: ' + dbUserId}"></h1>
<div th:replace="/fragments/error-fragment :: user-error"></div>


<form th:action="${'/users/' + dbUserId}" th:method="PUT">
    <label>Username</label>
    <input th:value="${dbUserUsername}" type="text" name="username" th:disabled="${!username.equals(dbUserUsername)}">
    <label>Nickname</label>
    <input th:value="${dbUserNickname}" type="text" name="nickname" th:disabled="${!username.equals(dbUserUsername)}">
    <input th:if="${username.equals(dbUserUsername)}" type="submit" value="Edit User info">
</form>

<div th:text="${'testDate: ' + #temporals.format(testDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
</body>
</html>